<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="princeoftheeast.github.com.studyzone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.RegisterActivity" />
        <activity android:name=".UI.PasswordActivity" />
        <activity android:name=".UI.HomePageActivity" />
        <activity android:name=".UI.WeeklyActivity" />
        <activity
            android:name=".UI.DayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".UI.TimerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".UI.SoundActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".UI.SoundMeterActivity" />

        <receiver android:name=".Adapter.NotificationReceiver" />

        <activity android:name=".UI.ProfileActivity" />
        <activity android:name=".UI.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>